@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: #2c2c32;
  --background: #ffffff;
  --table: #f0eff8;
}
body {
  color: var(--main);
  border-style: solid;
  border-color: var(--main);
}

.divShadow {
  box-shadow: rgba(137, 139, 142, 0.2) 0px 2px 8px 0px;
}
.tableShadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

table {
  border-spacing: 0;
  overflow: visible;
}
tr,
tbody {
  overflow: visible;
}

label {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 4px;
}
input {
  padding-left: 8px;
  padding-right: 8px;
}

th {
  margin: 0;
  padding-left: 1.5%;
  text-align: left;
  background-color: #f7f6fa;
  font-weight: 800;
  width: 20%;
  height: 50px;
  font-size: small;
  border-right: 1px solid var(--table);
}
th:last-child {
  border-right: 0;
}

td {
  margin: 0;
  text-align: left;
  width: 20%;
  height: 100px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-weight: 500;
  font-size: small;
  inline-size: min-content;
  /* border-right: 1px solid var(--table); */
  align-items: end;
  align-content: end;
  vertical-align: top;
  overflow: visible;
}
td:last-child {
  border-right: 0;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--light) inset !important;
}
/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: var(--main) !important;
}
input:focus {
  outline: none !important;
}
input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--placeholder);
  opacity: 1; /* Firefox */
}

input:-ms-input-placeholder {
  color: var(--placeholder); /* Internet Explorer 10-11 */
}

input::-ms-input-placeholder {
  color: var(--placeholder); /* Microsoft Edge */
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
::selection {
  background: rgba(203, 217, 238, 0.492);
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: #efeef2;
  border-radius: 50px;
}

.hideScrollBar {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.hideScrollBar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
